FLASK_APP={{ cookiecutter.project_slug }}/__init__.py
IS_DEV_APP=True

LOG_LEVEL=INFO
LOG_VARS="asctime processName process name lineno funcName levelname message"
JSON_LOGS=False

DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_HOST=0.0.0.0
DATABASE_NAME={{ cookiecutter.project_slug }}

QUEUE_HOST=0.0.0.0
QUEUE_PORT=5672
QUEUE_USER=user
QUEUE_PASSWORD=password
DEFAULT_QUEUE_NAME='{{ cookiecutter.project_slug }}-default'

JWT_SECRET_KEY='sssshhhhhhhhh-this-is-secret'
