# production
flask
flasgger  # to provide swagger documentation
psycopg2-binary
Flask-Migrate
Flask-SQLAlchemy
celery
gunicorn
python-decouple
python-json-logger

# development
ipdb
coverage
pylint
pylint-flask
black
isort[colors]
pytest
pytest-cov
pytest-sugar
